// Global colors variables

// Backgrounds colors
$cMainBackground: #FFF;
$cMainItemBackground: #0076CC;
$cFieldsetBackground: #AAAAAA;

// Backgrounds gradients

// Texts colors
$cLaborText: #323232;
$cLink: $cMainItemBackground;
$cContactErrors: #D41915;
$cContactSended: #00872C;

// Borders colors

// Shadows colors

// Others colors
